
:root {
    --navigation-hamburguer-color: #fff;
    --navigation-hamburguer-color-hover: #9d9a99;
    --navigation-hamburguer-shadow: #00000059;
    --navigation-hamburguer-shadow-hover: #00000059;
    --link-li-background: transparent;
    --link-li-background-hover: transparent;
    --link-li-shadow: transparent;
    --link-li-shadow-hover: transparent;
    --link-li-background-scrolled: transparent;
    --link-li-background-scrolled-hover: transparent;
    --link-li-shadow-scrolled: transparent;
    --link-li-shadow-scrolled-hover: rgb(0 0 0 / 8%);
    --link-li-borders: transparent;
    --link-li-borders-hover: #9d9a99;
    --link-li-borders-scrolled: transparent;
    --link-li-borders-scrolled-hover: #9d9a99;
}


.nav{
    height: fit-content;
    padding: 0.5rem!important;
    left: -100px;
    position: absolute!important;
    display: block!important;
    top: 48px!important;
    transition: all 0.5s;
}

.nav-active {
    left: 0!important;
    background: var(--navigation-background);
} .header-scrolled .nav-active {
    background: var(--navigation-background-scrolled);
}

.nav li {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.nav-trigger {
    display: block;
    margin-left: 0.8rem!important;
}

#Header ul{
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 0;
    top: 0;
    transition: all 0.5s;
}

#Header ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 18px;
    padding-bottom: 18px;
    align-self: center;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 1px solid var(--link-li-borders);
    border-right: 1px solid var(--link-li-borders);
    cursor: pointer;
    background: var(--link-li-background);
    box-shadow: 0px -20px 20px 1px var(--link-li-shadow) inset;
}

.nav li:hover {
    border-left: 1px solid var(--link-li-borders-hover);
    border-right: 1px solid var(--link-li-borders-hover);
    background: var(--link-li-background-hover);
    box-shadow: 0px -20px 20px 1px var(--link-li-shadow-hover) inset;
}

/* Hamburguer */

.center { display: flex; position: absolute; flex-direction: row; align-items: center; justify-content: center; top: 50%; left: 50%; transform: translate(-50%,-50%); }

ul.nav-trigger {
    margin-left: 1rem;
}

.nav-trigger:hover {
    cursor: pointer;
}

.nav-cross {
    height: 4px;
    width: 24px;
    border-radius: 3px;
    background: var(--navigation-hamburguer-color);
    box-shadow: 0px 0px 4px 0.5px var(--navigation-hamburguer-shadow);
    position: relative;
    display: block;
    animation-name: parentOp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
}

.nav-trigger:hover .nav-cross {
    background: var(--navigation-hamburguer-color-hover);
    box-shadow: 0px 0px 4px 0.5px var(--navigation-hamburguer-shadow-hover);
}

.nav-cross::after, .nav-cross::before {
    content: "";
    height: 4px;
    width: 24px;
    border-radius: inherit;
    background: inherit;
    box-shadow: inherit;
    position: absolute;
    display: block;
    opacity: 1;
}

.nav-cross::before {
    top: -25px;
    animation-name: beforeOp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.nav-cross::after {
    top: 8px;
    animation-name: afterOp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.nav-cross.active {
    animation-name: parentOp_active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.nav-cross.active::before {
    animation-name: beforeOp_active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.nav-cross.active::after {
    animation-name: afterOp_active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes parentOp {
    0% {
        height: 0px;
    }
    70% {
        height: 0px;
    }
    80% {
        height: 2px;
    }
    90% {
        height: 3px;
    }
    100% {
        height: 4px;
    }
}
@keyframes beforeOp {
    0% {
        top: 0px;
        transform: rotate(45deg);
    }
    50% {
        top: 0px;
        transform: rotate(0deg);
    }
    70% {
        top: -8px;
    }
    100% {
        top: -8px;
    }
}
@keyframes afterOp {
    0% {
        top: 0px;
        transform: rotate(135deg);
    }
    50% {
        top: 0px;
        transform: rotate(0deg);
    }
    70% {
        top: 8px;
    }
    100% {
        top: 8px;
    }
}
@keyframes parentOp_active {
    0% {
        height: 8px;
        
    }
    50% {
        height: 0px;
    }
    100% {
        height: 0px;
    }
}
@keyframes beforeOp_active {
    0% {
        top: -8px;
    }
    50% {
        top: 0px;
    }
    70% {
        top: 0px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
        transform: rotate(45deg);
    }
}
@keyframes afterOp_active {
    0% {
        top: 8px;
    }
    50% {
        top: 0px;
    }
    70% {
        top: 0px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
        transform: rotate(135deg);
    }
}
